<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="form">
        <input type="text" name="" id="" class="input" required>
        <button type="submit" class="btn">Submit</button>
    </form>
    <h1 class="head">All</h1>
    <ul class="todo">

    </ul>
    <button class="all high">All</button>
    <button class="active">Active</button>
    <button class="completed">Completed</button>
    <button class="clear">Clear Completed</button>
    <button class="cmp-all">Select All</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="work.js"></script>
</body>
</html>